body {
    height: 90vh;
}

.main-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


.hidden {
    display: none;
}

#clock {
    font-size: 80px;
}

#greeting {
    font-size: 40px;
    margin-top: -60px;
}

#todo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#todo-form input {
    border-style: none;
    width: 350px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid white;
    height: 50px;
    font-size: 20px;
    color: white;
    margin-top: -30px;

}

#todo-form label {
    font-size: 20px;
    font-weight: bold;
    color: white;

}

#todo-form span {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

input:focus {
    outline: none;

}


li {
    font-weight: bold;
    list-style: none;

}