@import url("login.css");
@import url("todo.css");
@import url("quote.css");
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Nanum+Myeongjo&display=swap');

body {
    height: 90vh;
    font-family: 'Nanum Myeongjo', serif;
}

.hidden {
    display: none;
}

.main-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

}

#clock {
    font-size: 120px;
}

#greeting {
    font-size: 40px;
    margin-top: -60px;
}

#weatherContainer {
    color: white;
}